@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: rgba(54, 54, 54, 0.1);
    font-family: 'Baloo Thambi 2', sans-serif;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header{
    background: linear-gradient(-45deg, #b3e7fa, #a8f5e3,#b3e7fa, #a8f5e3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    box-shadow: 4px 5px 5px rgba(59, 59, 59, 0.226);
}

.container {
    width: 1200px;
    height: calc(100vh - 181px);
    margin: auto;
    margin-top: 30px;
}

.container-tabla{
    left: 440px;
    position: relative;
    text-align: center;
    width: 300px;
    height: auto;
    padding: 10px;
    background:#a8fff0;
    color: #000;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.246);
}

.ingreso{
    display: initial;
    position: relative;
    width: 100%;
    left: 440px;
    margin-bottom: 300px;
}

.ingreso input{
    border: 1px solid #98f0ff;
    border-radius: 15px;
    height: 30px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.ingreso p{
    position: relative;
    left: -15px;
    font-weight: bold;
}

#btn {
    background-image: linear-gradient(to right, #98f0ff 0%, #9dffe7  51%, #c7fff3  100%);
    width: 280px;
     
}

#btn {
    margin: 10px;
    margin-top: 20px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);            
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.246);
    border-radius: 10px;
    display: block;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  #btn:hover {
    background-position: right center; 
    color: rgb(32, 32, 32);
    text-decoration: none;
  }


 footer{
    width: 100%;
    background: linear-gradient(-45deg, #b3e7fa, #a8f5e3,#b3e7fa, #a8f5e3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin-bottom: auto;
    padding: auto;
    display: inline-table;
    text-align: center;
    box-shadow: 14px 15px 35px rgba(59, 59, 59, 0.335);
}

footer p{
    display: inline-table;
    margin: 20px 20px ;
    color: #000;
}